.git
.gitignore
README.md
.env.example
.env
.env.docker
Dockerfile
docker-compose.yml
docker-setup.sh
.dockerignore
node_modules
npm-debug.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
.DS_Store
Thumbs.db
